# COMMON
NEXT_PUBLIC_BASE_URL=
NGROK_URL=

# Neon database 
DATABASE_URL=

# Better Auth
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=

# Background job, workflow execution, and event-driven application
INNGEST_DEV=1

# Google Generative AI
GOOGLE_GENERATIVE_AI_API_KEY=

# Sentry
SENTRY_AUTH_TOKEN=

# Polar
POLAR_PRODUCT_ID=
POLAR_ACCESS_TOKEN=
POLAR_SERVER=sandbox # or 'production'